<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698895961636-a8s7mnu7c752vcng8dvnmm30m4u46r62.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698895961636-a8s7mnu7c752vcng8dvnmm30m4u46r62</string>
	<key>API_KEY</key>
	<string>AIzaSyC_H0BbBXcTY2yHE9McqmtZ3x8bQkpEKwI</string>
	<key>GCM_SENDER_ID</key>
	<string>698895961636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appFirebaseAuth.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-app-eaab8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-app-eaab8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698895961636:ios:732f0f8999b81e21d452b1</string>
</dict>
</plist>